<section class="category box">
    <div class="wrapper">
        <div class="home-container">
            <div class="cat_img">
                <img tabindex="0" src="{{this.imageUrl}}" alt="{{this.name}}" />
            </div>
            <div class="cat_info">
                <h2 tabindex="0" class="cat_title">{{this.name}}</h2>
                <p tabindex="0" class="cat_decs">{{this.description}}</p>
                <a role="button" href="/category/{{this.id}}" class="cat_explore">Explore {{this.key}}</a>
            </div>
        </div>
    </div>
</section>