
    
    <section class="main-slider">
        <div class="wrapper">
            <div id="slider" class="crousel-container box slide-container">
                    {{#each banners}}
                        <img class="mySlides" src="{{this.bannerImageUrl}}" alt="{{this.bannerImageAlt}}">
                    {{/each}}
                    
                    <div class="slide-btn" style="width:100%">
                        <div class="left-btn" onclick="plusDivs(-1)">PREV</div>
                        <div class="right-btn" onclick="plusDivs(1)">NEXT</div>
                        
                    </div>
                    <div class="slide-dots">
                        {{#each banners}}
                            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv({{math @index "+" 1}})"></span>
                        {{/each}}
                            
                    </div>
                
            </div>
        </div>
    </section>
    {{#each categories}}
    <section class="category box">
        <div class="wrapper">
            <div class="home-container">
                <div class="cat_img">
                    <img width="100%" src="{{this.imageUrl}}" alt="{{this.name}}" />
                </div>
                <div class="cat_info">
                    <h1 class="cat_title">{{this.name}}</h1>
                    <p class="cat_decs">{{this.description}}</p>
                    <a href="category/{{this.key}}" class="cat_explore">Explore {{this.key}}</a>
                </div>
            </div>
        </div>
    </section>
    {{/each}}
    
<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusDivs(n) {
        showDivs(slideIndex += n);
    }
    function currentDiv(n) {
        showDivs(slideIndex = n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" slide-white", "");
        }
        x[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " slide-white";
    }
</script>
    